	<title><%= title %></title>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

	<script type="text/javascript" src='/javascripts/jquery-3.2.1.min.js'></script>
	<script type="text/javascript" src='/javascripts/popper.js'></script>
	
	<script type="text/javascript" src='/javascripts/script.js'></script>
	<script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
