<!DOCTYPE html>
<html>
<head>
	<% include partials/header.ejs %>
</head>

<body>

<wrapper>
	<div class="statistic" id='vocab-tool'>
		<div class="panel-btn"> 
			<span> > </span> 
		</div>
		<div class="statistic-body">
			<label for='ws-text-size'>Tottal words</label>
			<input id='ws-text-size' class="form-control" type="text" name="text-size" readonly>
		</div>
	</div>
	<div class="spinner">
		<h1><%= title %></h1>
		<div class="container">
			<section id='top'>
				<div class="panel">
					<div class="wrapper">
						<label>Main tag</label>
						<input type="text" name="tag" id='ws-tag'>
						<label>Replase tag</label>
						<input type="text" name="rtag" id='ws-r-tag'>
					</div>
				</div>
				<textarea id='in-text' wrap="soft"></textarea>
				<div class="panel">
					<div class="wrapper">
						<button id="generate" class='btn btn-default'>Generate</button>
					</div>
				</div>		
			</section>
			<section id='bot'>

				<textarea id='out-text' wrap="soft"></textarea>
				
				<div class="panel">
					<button id='file-save-btn'class='btn btn-default'>Save in to file</button>
				</div>
			</section>
		</div>
	</div>	
</wrapper>

	

</body>
</html>
<!-- 
CREATE TABLE WORDS(ID INTEGER PRIMARY KEY AUTOINCREMENT,NAME TEXT NOT NULL UNIQUE);
CREATE TABLE LIBS(ID INTEGER PRIMARY KEY AUTOINCREMENT,NAME TEXT NOT NULL);
CREATE TABLE RELATION(ID INTEGER PRIMARY KEY AUTOINCREMENT,	LIBID INTEGER NOT NULL, WORDID INTEGER NOT NULL, ASSOCIATION INTEGER NOT NULL, 	FOREIGN KEY(LIBID) REFERENCES LIBS(ID),	FOREIGN KEY(WORDID) REFERENCES WORD(ID)); 
 					
<option>wordnet</option>
<option>pyDictionary</option>
<option>Vocabulary</option>
<option>word2vec</option> 
-->
