body {
	height: 100vh;
	min-height: 600px;
	width: 100%;
	min-width: 900px;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*color: white;*/
    background-color: #efefef !important;

    overflow-y: scroll;
    overflow-x: scroll;
}
body>div{
	height: 100%;
}
label {
    text-transform: capitalize;
}
a {
	color: #00B7FF;
}
section{
	height: 50%;
}
select{
    height: 30px;
}

section textarea {
    width: 100%;
    resize: none;
    height: calc(100% - 110px);
}
button.btn{
	padding-right: 30px;
	padding-left: 30px;
	width: 200px;
	cursor: pointer;
}
button.btn:hover{
	background: gray;
}
.panel{
	height: 50px;
	width:100%;
	display: table;
    text-align: center;
}
.panel .wrapper{
	display:table-cell;
	vertical-align: middle;
}
/*button#generate {
    background: black;
    color: ghostwhite;
}*/
div.spinner{
	width:100%;
	height: 100%;
}
div.spinner>div{
	height: calc( 100% - 50px );
}
div.statistic{
	z-index: 3;
	position: fixed;
    top: 0;
    right: -370px;
    height: 100vh;
    width: 370px;
    outline: 1px gray solid;
    background: gray;
}
.statistic.show{
	right: 0;
}
.statistic-body {
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
}
.panel-btn{
	cursor: pointer;
	position: absolute;
	top:0;
	left:-20px;
	height: 100%;
	width: 20px;
	background: black;
	color: white;
	text-align: center;
	display: table;
	padding:3px;
}
.panel-btn:hover{ 
    background: #353535;
}
.panel-btn span{
    display: table-cell;
    vertical-align: middle;
}
